@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
